.listOfDialog{
    margin-top: -5px;
    position: absolute;
    width: 40%;
    height: 99%;
    border: 2px solid black;
    border-radius: 5px;

}
.navBar{
    height: 6%;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
    border-radius: 5px;


}
.textField{
    padding: 20px;
}